.eventRow {
  position: relative;
  display: flex;
  align-items: center;
}

.event {
  width: 100%;
  margin-left: 48px;
}

.year {
  width: 90px;
  font-size: 1.8rem;
}

.desktopYear {
  font-size: 1.8rem;
  font-weight: 100;
  display: none;
}

@media only screen and (max-width: 600px) {

  .year,
  .marker,
  .innerMarker,
  .line {
    display: none !important;
  }

  .desktopYear {
    display: block;
  }

  .event {
    width: 100%;
    margin-left: 0px;
  }
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  margin: 0 12px 0 20px;
  position: absolute;
  left: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerMarker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-color);
  z-index: 10;
}

.line {
  width: 0.2em;
  height: 100%;
  top: 0;
  background-color: white;
  margin: 0 12px 0 20px;
  position: absolute;
  left: 73px;
}

.first {
  top: 50%;
}

.last {
  bottom: 50%;
  height: 50%;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 0.2em;
}