.card {
  border-radius: 10px;
  padding: 14px 22px;
  margin: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-off-color);
}

.primary {
  background-color: var(--primary-off-color);
  color: var(--secondary-color);
}

.default {
  background-color: white;
  color: var(--font-color);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.glass {
  background-color: rgba(255, 255, 255, 0.2);
}